name: Update copyright year(s) in license file

on:
  schedule:
    - cron: '0 3 1 1 *' # 03:00 AM on January 1
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  update-license-year:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: FantasticFiasco/action-update-license-year@v3
        with:
          commitTitle: 'chore: update copyright year(s) in LICENSE'
          token: ${{ secrets.GITHUB_TOKEN }}
          transform: (?<=Copyright \(c\) )(?<from>\d{4})?-(\d{4})
